body{
    font-family: sans-serif;
    margin: 0;
}

.title{
    margin-top: 10%;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.page-title{
    margin: 10px;
}

#start-trig{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 15px 10px 30px;
    font-size: 20px;
    width: 100px;
    background-color:lightgray;
    cursor: default;
}

.TOStext{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    width: 200px;
    color: lightgray;
    cursor: default;
}

.feedback{
    position: fixed;
    left:10px;
    bottom: 10px;
}

#title-div #version{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.TOStag{
    color: lightblue;
    text-decoration: underline;
    font-weight: bold;
}

#rule .content{
    border: 3px solid lightgray;
    padding: 20px;
    margin: 0px 50px;
}

#rule h2{
    padding: 0px 80px;
    font-size: 20px;
}

.selector-window{
    border: 3px solid lightgray;
    padding: 10px 20px;
    margin: 10px;
}

.menu-selector{
    background-color: lightgray;
    padding: 7px 30px;
    margin: 10px 0px;
    cursor: default;
}

.src-label{
    color: gray;
    font-size:10px;
    margin: 0px 10px;
}

.text-triger{
    color: blue;
    text-decoration:underline;
    cursor: default;
    text-align: center;
    position: relative;
}

.text-triger-disabled{
    color: gray;
    text-decoration:underline;
    cursor: default;
    text-align: center;
}

.selector-title{
    position: relative;
    left: 15px;
    bottom: 70px;
}

.level-author{
    position: relative;
    left: 120px;
    bottom: 70px;
    color: gray;
}

.selector-author{
    position: relative;
    left: 120px;
    bottom: 80px;
    line-height: 2;
    color: gray;
}

.level-rating{
    position: relative;
    left: 5px;
    bottom: 155px;
    font-size: 25px;
    color: blue;
    font-weight: bold;
    -webkit-text-stroke: 1px #FFF;
}

.Info-back-trig{
    background-color: lightgray;
    padding-left: 25px;
    padding-top: 10px;
    width: 60px;
    height: 35px;
    margin: 10px;
    cursor: default;
}

.Info-opt-trig{
    background-color: lightgray;
    padding-left: 25px;
    padding-top: 10px;
    width: 60px;
    height: 35px;
    margin-top: -55px;
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: default;
}

.ItemInfo-run-trig{
    background-color: lightgreen;
    padding-left: 25px;
    padding-top: 10px;
    width: 60px;
    height: 35px;
    margin-top: -55px;
    margin-left: 100px;
    cursor: default;
}

.LevelInfo-run-trig{
    background-color: lightgreen;
    padding-left: 25px;
    padding-top: 10px;
    width: 85px;
    height: 35px;
    margin-top: -55px;
    margin-left: 190px;
    cursor: default;
}

#player #window{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.ItemInfo-selector{
    background-color:lightgray;
    padding-left: 25px;
    padding-top: 10px;
    width: 230px;
    height: 35px;
    margin-top: -45px;
    margin-left: 185px;
    cursor: default;
}

.ItemSelector-title {
    position: relative;
    left: 15px;
    bottom: 50px;
}

.ItemSelector-author {
    position: relative;
    left: 85px;
    bottom: 55px;
    line-height: 2;
    color: gray;
}

#play_button{
    position: static;
}

.colec-delete-trg{
    background-color: #afafaf;
    position: absolute;
    right: 50px;
    padding: 5px;
    margin-top: -105px;
}

#level-option input[type="range"]{
    width: 200px;
}